@import 'lms/static/sass/partials/base/variables';

//-----------------
//  CSS BG Images
//-----------------
$homepage-bg-image: url('../images/sunrise.jpg');

$login-banner-image: url('../images/sunrise.jpg');
$register-banner-image: none;

$video-thumb-url: url('../images/logo.png');
