## mako
<%!
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>${_('About')}</title></%block>

<%block name="js_extra">
  <script type="text/javascript">
    $(function() {
      $('section.message').hide();
      $('#about-menu a').removeClass('active');
      window.scrollTo(0,0);
      var hash = window.location.hash

      if (hash) {
        $('section' + hash).show();
        $('#about-menu a.' + hash.substring(1)).addClass('active');
      } else {
        $('section#about').show();
        $('#about-menu a.about').addClass('active');
      }

      $('#about-menu a').click(function(event) {
        event.preventDefault();
        $('#about-menu a').removeClass('active');
        $(this).addClass('active');
        var clickId = "section" + $(this).attr('href');
        $('section.message').hide();
        $(clickId).show();
      });
    });
  </script>
</%block>

<section class="container about" style="width: auto;">
  <nav id="about-menu">
    <a href="#about" class="about active">${_('About')}</a>
    <a href="#careers" class="careers">${_('University Profile')}</a>
    <a href="#contact" class="contact">${_('Contact')}</a>
  </nav>

  <section class="vision">

## About Section ##
    <section class="message left" id="about">
      <div class="photo">
        <!--
            Photo License: CC0 Public Domain (Free for commercial use / No attribution required)
            https://pixabay.com/en/book-books-circle-curly-education-2869/
        -->
        <img src="${static.url('cdu-style/images/about.jpg')}" alt="" />
      </div>
      <article>
        <h2>${_('About')}</h2>

        <p>The School of Engineering and Information Technology provides a variety of study options in the fields of engineering and information technology from diploma level through to postgraduate research degrees.

		<p>As an engineering student, you will explore a fascinating field of applied science through teaching programs that have a strong design and innovation thread while encouraging creativity. You will also have the flexibility to specialise in areas such as chemical engineering, civil and structural engineering, electrical and electronics, and mechanical engineering.</p>

		<p>Studying information technology with us will allow you to immerse yourself in an interactive learning environment where you will use state-of-the-art technologies and methodologies to prepare you for your chosen field.</p>

		<p>Our data science courses will equip you with the technical and analytical skills needed to manage and gain useful insights from massive data sets. Designed for graduates from multi-disciplinary areas, such as computer science, IT, statistics and engineering to name a few, these postgraduate courses will enable you to upgrade your qualifications to a postgraduate level in data science.</p>

		<p>For those looking to expand their knowledge, our research degrees explore a variety of areas related to engineering and information technology including biomedical engineering, mechatronics, and mining technology to name a few.</p>

		<p>We invite you to explore the school’s website and discover for yourself the commitment to learning and the spirit of innovation that defines our school. A link to the website can be found <a href="http://www.cdu.edu.au/engit" target="_blank">here</a>.</p>
        

        <p>&nbsp;</p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>

## Careers Section ##
    <section class="message left" id="careers">
      <div class="photo">
        <!--
            Photo License: CC0 Public Domain (Free for commercial use / No attribution required)
            https://pixabay.com/en/man-corporate-businessman-suit-tie-871960/
        -->
        <img src="${static.url('cdu-style/images/careers.jpg')}" alt="" />
      </div>
      <article>
        <h2>${_('University Profile')}</h2>

        <p>Charles Darwin University is unique. No other single Australian university serves such a large area of the continent, in such a remote location and with such a small population to sustain it.</p> 

		<p>While the Northern Territory covers around 16 percent of Australia, in 2015 it was home to just over 1 percent of the population, 30 percent of whom were Indigenous compared with around 3 percent of the general Australian population.</p>

		<p>The only university based in the Northern Territory, CDU is a dual sector university. We are the most northerly Australian university, literally on Asia’s doorstep. Closer in many respects to the vast populations of Asia than to the southern Australian states.</p>

		<p>Ours is a university deeply engaged with, and informed by, Australia’s Indigenous people. Recognising that we operate on the lands of many strong Indigenous nations, respecting the knowledge and culture of Aboriginal people and committed to Indigenous advancement.</p>

		<p>These are truly unique features that CDU embraces as both challenges and opportunities for the years ahead, building on the strong foundations and remarkable achievements of our 25-year history.</p> 

		<p>In this relatively short space of time, we have developed a reputation as one of the most innovative teaching and learning and most research-intensive universities in Australia and have risen to the ranks of the top 2 percent of world universities in 2015.</p>

		<p>CDU has provided and will continue to provide, the human capital that underpins the future prosperity of Northern Australia and our near Asian region, while also providing innovative and flexible online learning choices for a broader national student market.</p>

        <p>&nbsp;</p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>

## Contact Section ##
    <section class="message left" id="contact">
      <div class="photo">
        <!--
            Photo License: CC0 Public Domain (Free for commercial use / No attribution required)
            https://pixabay.com/en/network-cobweb-dewdrop-586177/
        -->
        <img src="${static.url('cdu-style/images/contact.jpg')}" alt="" />
      </div>
      <article id="stanford-OpenEdX-contact">
        <h2>${_('Contact Us')}</h2>

        <p>For further information please contact the School of Engineering and Information Technology</p>
        <p>asma.rehmankhan@cdu.edu.au</p>

        <p>&nbsp;</p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>
  </section>

</section>
