<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("Privacy Policy")}</h1>
        <p style="font-family:times new roman;font-size:1em;line-height:1.6em">Charles Darwin University's privacy policy can be fouund <a href="https://connect.cdu.edu.au/file/PrivacyPolicy.pdf" target="_blank">here</a>.</p>
    </section>
</main>
